@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  p {
    @apply leading-normal text-natural;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-title;
  }
  button {
    @apply text-white;
  }
}

@layer components {
  .btn-base {
    @apply px-4 py-3 font-bold capitalize border-none md:px-6 lg:py-4;
  }
  /* .btn-primary {
    @apply bg-primary;
  } */
  .scroll-bar {
    @apply overflow-auto scrollbar-w-10 scrollbar-track-gray-100 scrollbar-thumb-gray-500 scrollbar-thumb-rounded-full;
  }
}
* {
  scroll-behavior: smooth;
  /* scrollbar-width: 5px;
  scrollbar-color: blue; */
}

/* For WebKit (Safari, Chrome) */
::-webkit-scrollbar {
  width: 0.5rem; /* width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: transparent; /* color of the track */
  /* background: #f1f1f1; */
}

::-webkit-scrollbar-thumb {
  background: #ff681a; /* color of the scrollbar */
  /* border-radius: 999px; */
}
